# Import Library Packages

In python data analysis, there are a lot of packages that would be required for different tasks at one level or the other. To be able to carry out almost all of our tasks, we would need the functions that are embedded in this packages or libraries, and for this primary reason, all the necessary libraries would have to be ***imported*** before use.

In this project, we would be making use of a handful of the Pyhton packages wchich includes but not limited to the following:

***Pandas***

***Numpy***

***Matplotlib***

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
from datetime import time
from datetime import datetime

### Importing the new dataset

In [37]:
df2 = pd.read_csv('tube_station_entry_exit_trial.csv')

In [38]:
df2.head()

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
0,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,...,0,0,0,0,0,0,0,0,0.600000,15.300000
1,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,...,0,0,0,0,0,0,0,0,0.000000,0.000000
2,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,...,0,0,0,0,0,0,0,0,0.000000,0.538462
3,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,...,0,0,0,0,0,0,0,0,0.230769,0.076923
4,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,...,0,0,0,0,0,0,0,0,0.133333,0.200000

In [39]:
print(df2.columns)

Index(['Mode', 'NLC', 'ASC', 'Station', 'Coverage', 'year', ' day', ' dir',
       'Total', 'Early     ',
       ...
       '0230-0245', '0245-0300', '0300-0315', '0315-0330', '0330-0345',
       '0345-0400', '0400-0415', '0415-0430', '0430-0445', '0445-0500'],
      dtype='object', length=111)

### Remove spaces from all column names

In [40]:
df2.columns = df2.columns.str.replace(' ', '')

In [41]:
print(df2.columns)

Index(['Mode', 'NLC', 'ASC', 'Station', 'Coverage', 'year', 'day', 'dir',
       'Total', 'Early',
       ...
       '0230-0245', '0245-0300', '0300-0315', '0315-0330', '0330-0345',
       '0345-0400', '0400-0415', '0415-0430', '0430-0445', '0445-0500'],
      dtype='object', length=111)

In [42]:
df2.nunique()

Mode           5
NLC          405
ASC          633
Station      405
Coverage       1
            ...
0345-0400    107
0400-0415    104
0415-0430     92
0430-0445    549
0445-0500    819
Length: 111, dtype: int64

In [43]:
df_in = df2.loc[df2.dir.str.contains('IN', na=False)]

In [44]:
df_in.head()

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
0,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,...,0,0,0,0,0,0,0,0,0.600000,15.300000
1,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,...,0,0,0,0,0,0,0,0,0.000000,0.000000
2,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,...,0,0,0,0,0,0,0,0,0.000000,0.538462
3,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,...,0,0,0,0,0,0,0,0,0.230769,0.076923
4,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,...,0,0,0,0,0,0,0,0,0.133333,0.200000

In [45]:
df_in.shape

(7403, 111)

In [46]:
df_out = df2.loc[df2.dir.str.contains('OUT', na=False)]

In [47]:
df_out.head()

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
264,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,OUT,3655.100000,205.000000,...,0,0,0,0,0,0,0,0,0.800000,0.800000
265,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,OUT,2822.083333,171.666667,...,0,0,0,0,0,0,0,0,0.250000,0.500000
266,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,OUT,3005.461538,146.076923,...,0,0,0,0,0,0,0,0,0.000000,0.692308
267,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,OUT,2194.692308,87.769231,...,0,0,0,0,0,0,0,0,0.230769,0.076923
268,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,OUT,965.000000,16.400000,...,0,0,0,0,0,0,0,0,0.000000,0.066667

In [48]:
df_out.shape

(7403, 111)

### Splitting each of the datasets ('df_in' and 'df_out') by year for easy date assignment

In [49]:
# subset of In dataset by 2018
df_2018_in = df_in.loc[df_in.year == 2018]

# subset of In dataset by 2019
df_2019_in = df_in.loc[df_in.year == 2019]

# subset of In dataset by 2020
df_2020_in = df_in.loc[df_in.year == 2020]

# subset of In dataset by 2021
df_2021_in = df_in.loc[df_in.year == 2021]

# subset of OUT dataset by 2018
df_2018_out = df_out.loc[df_out.year == 2018]

# subset of OUT dataset by 2019
df_2019_out = df_out.loc[df_out.year == 2019]

# subset of OUT dataset by 2020
df_2020_out = df_out.loc[df_out.year == 2020]

# subset of OUT dataset by 2020
df_2021_out = df_out.loc[df_out.year == 2021]

In [65]:
# dataframes = [df_2018_in, df_2019_in, df_2020_in, df_2021_in, 
#                df_2018_out, df_2019_out, df_2020_out, df_2021_out]

# for df in dataframes:
#     display(df)


from IPython.display import display

display(df_2018_in, df_2018_out, df_2019_in, df_2019_out, df_2020_in, df_2020_out, df_2021_in, df_2021_out)

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
8598,LU,500,ACT,Acton Town,Station entry / exit,2018,MTT,IN,9705.0,628.0,...,0,0,0,0,0,0,0,0,3.0,18.0
8599,LU,502,ALD,Aldgate,Station entry / exit,2018,MTT,IN,16523.0,278.0,...,0,0,0,0,0,0,0,0,0.0,1.0
8600,LU,503,ALE,Aldgate East,Station entry / exit,2018,MTT,IN,23311.0,306.0,...,0,0,0,0,0,0,0,0,0.0,0.0
8601,LU,505,ALP,Alperton,Station entry / exit,2018,MTT,IN,4541.0,579.0,...,0,0,0,0,0,0,0,0,0.0,0.0
8602,LU,506,AME,Amersham,Station entry / exit,2018,MTT,IN,3886.0,578.0,...,0,0,0,0,0,0,0,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11709,TfLRail,6883,MNPr,Manor Park,Station entry / exit,2018,SUN,IN,1464.0,21.0,...,0,0,0,0,0,0,0,0,0.0,1.0
11710,TfLRail,6970,MYLr,Maryland,Station entry / exit,2018,SUN,IN,587.0,12.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11711,TfLRail,3000,AMLr,Acton Main Line,Station entry / exit,2018,SUN,IN,8.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11712,TfLRail,3191,HANr,Hanwell,Station entry / exit,2018,SUN,IN,6.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11713,TfLRail,7091,HAFr,Heathrow Terminal 4 EL,Station entry / exit,2018,SUN,IN,2617.0,162.0,...,0,0,0,0,0,0,0,0,0.0,0.0

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
8863,LU,500,ACT,Acton Town,Station entry / exit,2018,MTT,OUT,9696.0,284.0,...,0,0,0,0,0,0,0,0,1.0,1.0
8864,LU,502,ALD,Aldgate,Station entry / exit,2018,MTT,OUT,17078.0,447.0,...,0,0,0,0,0,0,0,0,0.0,1.0
8865,LU,503,ALE,Aldgate East,Station entry / exit,2018,MTT,OUT,22008.0,467.0,...,0,0,0,0,0,0,0,0,0.0,0.0
8866,LU,505,ALP,Alperton,Station entry / exit,2018,MTT,OUT,4740.0,122.0,...,0,0,0,0,0,0,0,0,0.0,0.0
8867,LU,506,AME,Amersham,Station entry / exit,2018,MTT,OUT,3662.0,29.0,...,0,0,0,0,0,0,0,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11721,TfLRail,6883,MNPr,Manor Park,Station entry / exit,2018,SUN,OUT,1471.0,3.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11722,TfLRail,6970,MYLr,Maryland,Station entry / exit,2018,SUN,OUT,555.0,5.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11723,TfLRail,3000,AMLr,Acton Main Line,Station entry / exit,2018,SUN,OUT,7.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11724,TfLRail,3191,HANr,Hanwell,Station entry / exit,2018,SUN,OUT,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11725,TfLRail,7091,HAFr,Heathrow Terminal 4 EL,Station entry / exit,2018,SUN,OUT,1878.0,88.0,...,0,0,0,0,0,0,0,0,0.0,0.0

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
11726,LU,500,ACTu,Acton Town,Station entry / exit,2019,MTT,IN,10091.0,621.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11727,LU,502,ALDu,Aldgate,Station entry / exit,2019,MTT,IN,17039.0,299.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11728,LU,503,ALEu,Aldgate East,Station entry / exit,2019,MTT,IN,23063.0,293.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11729,LU,505,ALPu,Alperton,Station entry / exit,2019,MTT,IN,4491.0,556.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11730,LU,506,AMEu,Amersham,Station entry / exit,2019,MTT,IN,4143.0,633.0,...,0,0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14790,TfLRail,6881,IFDr,Ilford,Station entry / exit,2019,SUN,IN,6623.0,269.0,...,0,0,0,0,0,0,0,0,0.0,13.0
14791,TfLRail,6883,MNPr,Manor Park,Station entry / exit,2019,SUN,IN,2478.0,88.0,...,0,0,0,0,0,0,0,0,0.0,1.0
14792,TfLRail,6970,MYLr,Maryland,Station entry / exit,2019,SUN,IN,1177.0,35.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14793,TfLRail,3000,AMLr,Acton Main Line,Station entry / exit,2019,SUN,IN,170.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14794,TfLRail,3191,HANr,Hanwell,Station entry / exit,2019,SUN,IN,7.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
11991,LU,500,ACTu,Acton Town,Station entry / exit,2019,MTT,OUT,10023.0,278.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11992,LU,502,ALDu,Aldgate,Station entry / exit,2019,MTT,OUT,18352.0,465.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11993,LU,503,ALEu,Aldgate East,Station entry / exit,2019,MTT,OUT,22381.0,354.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11994,LU,505,ALPu,Alperton,Station entry / exit,2019,MTT,OUT,4893.0,160.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11995,LU,506,AMEu,Amersham,Station entry / exit,2019,MTT,OUT,4041.0,27.0,...,0,0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14801,TfLRail,6881,IFDr,Ilford,Station entry / exit,2019,SUN,OUT,5812.0,41.0,...,0,0,0,0,0,0,0,0,0.0,1.0
14802,TfLRail,6883,MNPr,Manor Park,Station entry / exit,2019,SUN,OUT,2298.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14803,TfLRail,6970,MYLr,Maryland,Station entry / exit,2019,SUN,OUT,1006.0,8.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14804,TfLRail,3000,AMLr,Acton Main Line,Station entry / exit,2019,SUN,OUT,161.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14805,TfLRail,3191,HANr,Hanwell,Station entry / exit,2019,SUN,OUT,14.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
0,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,...,0,0,0,0,0,0,0,0,0.600000,15.300000
1,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,...,0,0,0,0,0,0,0,0,0.000000,0.000000
2,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,...,0,0,0,0,0,0,0,0,0.000000,0.538462
3,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,...,0,0,0,0,0,0,0,0,0.230769,0.076923
4,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,...,0,0,0,0,0,0,0,0,0.133333,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3112,EZL,6970,MYLr,Maryland,Station entry / exit,2020,SUN,IN,455.062500,23.760000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3113,EZL,3172,SLOr,Slough,Station entry / exit,2020,SUN,IN,144.720000,1.800000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3114,EZL,3151,TAPr,Taplow,Station entry / exit,2020,SUN,IN,10.309712,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3115,EZL,3155,TWYr,Twyford,Station entry / exit,2020,SUN,IN,3.176439,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3116,EZL,3174,WDTr,West Drayton,Station entry / exit,2020,SUN,IN,485.120557,11.858936,...,0,0,0,0,0,0,0,0,0.000000,3.557681

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
264,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,OUT,3655.100000,205.000000,...,0,0,0,0,0,0,0,0,0.800000,0.800000
265,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,OUT,2822.083333,171.666667,...,0,0,0,0,0,0,0,0,0.250000,0.500000
266,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,OUT,3005.461538,146.076923,...,0,0,0,0,0,0,0,0,0.000000,0.692308
267,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,OUT,2194.692308,87.769231,...,0,0,0,0,0,0,0,0,0.230769,0.076923
268,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,OUT,965.000000,16.400000,...,0,0,0,0,0,0,0,0,0.000000,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,EZL,6970,MYLr,Maryland,Station entry / exit,2020,SUN,OUT,421.728125,3.150000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3132,EZL,3172,SLOr,Slough,Station entry / exit,2020,SUN,OUT,130.200000,0.350000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3133,EZL,3151,TAPr,Taplow,Station entry / exit,2020,SUN,OUT,8.100995,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3134,EZL,3155,TWYr,Twyford,Station entry / exit,2020,SUN,OUT,4.634094,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
3135,EZL,3174,WDTr,West Drayton,Station entry / exit,2020,SUN,OUT,413.567677,2.092784,...,0,0,0,0,0,0,0,0,0.697595,0.000000

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
3136,LU,500,ACTu,Acton Town,Station entry / exit,2021,MTT,IN,6851.444444,414.888889,...,0,0,0,0,0,0,0,0,1.611111,17.055556
3137,LU,502,ALDu,Aldgate,Station entry / exit,2021,MTT,IN,8037.733333,213.333333,...,0,0,0,0,0,0,0,0,0.000000,0.666667
3138,LU,503,ALEu,Aldgate East,Station entry / exit,2021,MTT,IN,12751.200000,202.200000,...,0,0,0,0,0,0,0,0,0.000000,0.050000
3139,LU,505,ALPu,Alperton,Station entry / exit,2021,MTT,IN,3108.888889,366.944444,...,0,0,0,0,0,0,0,0,0.111111,0.000000
3140,LU,506,AMEu,Amersham,Station entry / exit,2021,MTT,IN,2384.052632,378.894737,...,0,0,0,0,0,0,0,0,0.052632,0.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6242,EZL,6883,MNPr,Manor Park,Station entry / exit,2021,SUN,IN,2099.040000,87.120000,...,0,0,0,0,0,0,0,0,0.000000,0.720000
6243,EZL,6970,MYLr,Maryland,Station entry / exit,2021,SUN,IN,1497.096000,47.412000,...,0,0,0,0,0,0,0,0,0.000000,0.108000
6244,EZL,3187,STLr,Southall,Station entry / exit,2021,SUN,IN,2808.360000,92.880000,...,0,0,0,0,0,0,0,0,0.720000,2.520000
6245,EZL,3151,TAPr,Taplow,Station entry / exit,2021,SUN,IN,318.800000,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
6246,EZL,3174,WDTr,West Drayton,Station entry / exit,2021,SUN,IN,1519.020000,2.835000,...,0,0,0,0,0,0,0,0,0.540000,4.995000

,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
3401,LU,500,ACTu,Acton Town,Station entry / exit,2021,MTT,OUT,6886.444444,241.500000,...,0,0,0,0,0,0,0,0,0.666667,0.666667
3402,LU,502,ALDu,Aldgate,Station entry / exit,2021,MTT,OUT,9655.266667,281.866667,...,0,0,0,0,0,0,0,0,0.333333,2.000000
3403,LU,503,ALEu,Aldgate East,Station entry / exit,2021,MTT,OUT,11984.350000,245.250000,...,0,0,0,0,0,0,0,0,0.050000,0.150000
3404,LU,505,ALPu,Alperton,Station entry / exit,2021,MTT,OUT,3346.611111,96.833333,...,0,0,0,0,0,0,0,0,0.111111,0.055556
3405,LU,506,AMEu,Amersham,Station entry / exit,2021,MTT,OUT,2315.210526,23.526316,...,0,0,0,0,0,0,0,0,0.052632,0.105263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6259,EZL,6883,MNPr,Manor Park,Station entry / exit,2021,SUN,OUT,2055.433333,6.883333,...,0,0,0,0,0,0,0,0,0.000000,0.000000
6260,EZL,6970,MYLr,Maryland,Station entry / exit,2021,SUN,OUT,1449.525000,10.605000,...,0,0,0,0,0,0,0,0,0.000000,0.105000
6261,EZL,3187,STLr,Southall,Station entry / exit,2021,SUN,OUT,2550.450000,19.425000,...,0,0,0,0,0,0,0,0,0.175000,2.625000
6262,EZL,3151,TAPr,Taplow,Station entry / exit,2021,SUN,OUT,348.600000,0.000000,...,0,0,0,0,0,0,0,0,0.000000,0.000000
6263,EZL,3174,WDTr,West Drayton,Station entry / exit,2021,SUN,OUT,1389.675000,1.706250,...,0,0,0,0,0,0,0,0,0.000000,0.000000

### Applying melt() function to prepare the data for time series forecasting

In [280]:
melt = df2.melt(id_vars=['id', 'Mode', 'NLC', 'ASC', 'Station', 'Coverage', 'year', 'day', 'dir', 'Total', 'Early', 'AMPeak', 'InterPeak', 'PMPeak', 'Evening', 'Late'], var_name='15mins_interval', value_name='Count')
melt.head()

,id,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,AMPeak,InterPeak,PMPeak,Evening,Late,15mins_interval,Count
0,1,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,1101.200000,1185.700000,824.200000,213.200000,89.400000,0500-0515,8.600000
1,2,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,520.166667,622.000000,920.000000,208.416667,46.250000,0500-0515,2.416667
2,3,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,472.692308,1063.923077,1126.461538,333.230769,99.000000,0500-0515,0.538462
3,4,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,667.846154,505.692308,408.538462,99.384615,30.846154,0500-0515,6.538462
4,5,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,424.666667,256.600000,124.133333,21.066667,5.600000,0500-0515,2.533333

In [281]:
melt['15mins_interval'] = melt['15mins_interval'].str[:4]
melt.head()

,id,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,AMPeak,InterPeak,PMPeak,Evening,Late,15mins_interval,Count
0,1,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,1101.200000,1185.700000,824.200000,213.200000,89.400000,0500,8.600000
1,2,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,520.166667,622.000000,920.000000,208.416667,46.250000,0500,2.416667
2,3,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,472.692308,1063.923077,1126.461538,333.230769,99.000000,0500,0.538462
3,4,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,667.846154,505.692308,408.538462,99.384615,30.846154,0500,6.538462
4,5,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,424.666667,256.600000,124.133333,21.066667,5.600000,0500,2.533333

In [282]:
melt['15mins_interval'] = melt['15mins_interval'].astype(str).str[:2] + ':' + melt['15mins_interval'].astype(str).str[2:]

In [283]:
melt.shape

(1421376, 18)

In [284]:
melt['15mins_interval'] = pd.to_datetime(melt['15mins_interval'], format='%H:%M').dt.time

In [285]:
melt['Count'] = round(melt['Count'], 0)

In [287]:
melt.head(10)

,id,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,AMPeak,InterPeak,PMPeak,Evening,Late,15mins_interval,Count
0,1,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,1101.200000,1185.700000,824.200000,213.200000,89.400000,05:00:00,9.0
1,2,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,520.166667,622.000000,920.000000,208.416667,46.250000,05:00:00,2.0
2,3,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,472.692308,1063.923077,1126.461538,333.230769,99.000000,05:00:00,1.0
3,4,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,667.846154,505.692308,408.538462,99.384615,30.846154,05:00:00,7.0
4,5,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,424.666667,256.600000,124.133333,21.066667,5.600000,05:00:00,3.0
5,6,LU,507,ANGu,Angel,Station entry / exit,2020,MTT,IN,5180.307692,144.076923,876.923077,1832.461538,1619.384615,546.461538,161.000000,05:00:00,0.0
6,7,LU,508,ARCu,Archway,Station entry / exit,2020,MTT,IN,4621.461538,274.000000,1369.307692,1340.076923,1225.307692,335.615385,77.153846,05:00:00,0.0
7,8,LU,509,AGRu,Arnos Grove,Station entry / exit,2020,MTT,IN,2478.538462,347.846154,841.846154,725.923077,414.307692,118.692308,29.923077,05:00:00,6.0
8,9,LU,510,ARLu,Arsenal,Station entry / exit,2020,MTT,IN,1055.166667,57.333333,417.083333,311.666667,197.750000,51.083333,20.250000,05:00:00,0.0
9,10,LU,511,BSTu,Baker Street,Station entry / exit,2020,MTT,IN,8769.857143,194.928571,997.428571,3057.857143,3197.214286,1060.000000,262.428571,05:00:00,11.0

In [288]:
melt_test = melt

In [296]:
melt['year'] = melt['year'].astype(str).astype('datetime64')

In [297]:
melt['year'] = melt['year'].dt.year

In [298]:
melt['year'].head()

0    2020
1    2020
2    2020
3    2020
4    2020
Name: year, dtype: int64

In [300]:
melt_bi = melt.loc[melt.year == 2021]

In [301]:
melt_bi.shape

(300288, 18)

In [302]:
melt_bi.tail(50)

,id,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,AMPeak,InterPeak,PMPeak,Evening,Late,15mins_interval,Count
1412784,6215,EZL,6872,BREr,Brentwood,Station entry / exit,2021,SAT,OUT,1952.809091,27.968182,161.509091,593.154545,428.304545,382.868182,359.004545,04:45:00,0.0
1412785,6216,EZL,3176,BNMr,Burnham,Station entry / exit,2021,SAT,OUT,1186.200000,31.000000,133.000000,342.200000,295.000000,232.800000,152.200000,04:45:00,0.0
1412786,6217,EZL,6874,CTHr,Chadwell Heath,Station entry / exit,2021,SAT,OUT,3542.509091,41.522727,219.163636,1107.559091,950.059091,728.700000,495.504545,04:45:00,0.0
1412787,6218,EZL,6876,FOGr,Forest Gate,Station entry / exit,2021,SAT,OUT,4067.222727,49.159091,296.386364,1347.913636,1055.345455,777.190909,541.227273,04:45:00,0.0
1412788,6219,EZL,6877,GDPr,Gidea Park,Station entry / exit,2021,SAT,OUT,2060.625000,17.745000,106.050000,540.645000,521.955000,439.635000,434.595000,04:45:00,0.0
1412789,6220,EZL,6878,GMYr,Goodmayes,Station entry / exit,2021,SAT,OUT,3122.031818,44.481818,224.318182,969.531818,851.836364,642.600000,389.263636,04:45:00,0.0
1412790,6221,EZL,3191,HANr,Hanwell,Station entry / exit,2021,SAT,OUT,860.600000,9.800000,34.400000,285.400000,223.600000,200.400000,107.000000,04:45:00,0.0
1412791,6222,EZL,6879,HROr,Harold Wood,Station entry / exit,2021,SAT,OUT,2312.450000,24.500000,163.683333,709.100000,571.200000,459.550000,384.416667,04:45:00,0.0
1412792,6223,EZL,6881,IFDr,Ilford,Station entry / exit,2021,SAT,OUT,7199.033333,93.683333,570.500000,2436.000000,1867.016667,1435.000000,796.833333,04:45:00,0.0
1412793,6224,EZL,3170,IVRr,Iver,Station entry / exit,2021,SAT,OUT,265.000000,5.200000,56.600000,61.400000,52.600000,51.200000,38.000000,04:45:00,0.0
1412794,6225,EZL,3171,LNYr,Langley,Station entry / exit,2021,SAT,OUT,839.200000,34.000000,94.800000,343.400000,183.400000,111.800000,71.800000,04:45:00,0.0
1412795,6226,EZL,6883,MNPr,Manor Park,Station entry / exit,2021,SAT,OUT,2834.416667,29.516667,213.383333,921.083333,723.916667,543.200000,403.316667,04:45:00,0.0
1412796,6227,EZL,6970,MYLr,Maryland,Station entry / exit,2021,SAT,OUT,1878.640909,31.500000,136.309091,639.831818,429.354545,356.140909,285.504545,04:45:00,0.0
1412797,6228,EZL,3187,STLr,Southall,Station entry / exit,2021,SAT,OUT,3711.150000,41.250000,236.850000,1414.050000,961.350000,727.500000,330.150000,04:45:00,0.0
1412798,6229,EZL,3151,TAPr,Taplow,Station entry / exit,2021,SAT,OUT,545.200000,17.200000,49.600000,200.600000,124.400000,88.000000,65.400000,04:45:00,0.0
1412799,6230,EZL,3174,WDTr,West Drayton,Station entry / exit,2021,SAT,OUT,2095.275000,34.387500,123.637500,525.787500,544.162500,547.443750,319.856250,04:45:00,0.0
1412800,6231,EZL,3000,AMLr,Acton Main Line,Station entry / exit,2021,SUN,IN,335.037581,0.000000,19.978067,217.868918,65.333678,30.507048,1.349869,04:45:00,0.0
1412801,6232,EZL,6872,BREr,Brentwood,Station entry / exit,2021,SUN,IN,1145.556000,23.652000,146.772000,673.056000,180.684000,91.800000,29.592000,04:45:00,3.0
1412802,6233,EZL,3176,BNMr,Burnham,Station entry / exit,2021,SUN,IN,896.000000,3.400000,119.800000,504.800000,178.400000,70.400000,19.200000,04:45:00,0.0
1412803,6234,EZL,6874,CTHr,Chadwell Heath,Station entry / exit,2021,SUN,IN,2530.440000,124.003636,423.556364,1386.621818,391.941818,148.745455,55.570909,04:45:00,25.0
1412804,6235,EZL,6876,FOGr,Forest Gate,Station entry / exit,2021,SUN,IN,2954.400000,107.520000,469.920000,1563.840000,528.000000,228.960000,56.160000,04:45:00,0.0
1412805,6236,EZL,6877,GDPr,Gidea Park,Station entry / exit,2021,SUN,IN,1322.190000,63.315000,202.095000,748.710000,196.155000,80.325000,31.590000,04:45:00,14.0
1412806,6237,EZL,6878,GMYr,Goodmayes,Station entry / exit,2021,SUN,IN,2213.784000,123.336000,390.204000,1165.968000,327.564000,162.756000,43.956000,04:45:00,14.0
1412807,6238,EZL,3191,HANr,Hanwell,Station entry / exit,2021,SUN,IN,500.253731,12.665857,76.280837,289.505300,84.280326,23.712770,13.808641,04:45:00,0.0
1412808,6239,EZL,6879,HROr,Harold Wood,Station entry / exit,2021,SUN,IN,1451.880000,35.280000,244.200000,812.040000,226.680000,96.000000,37.680000,04:45:00,13.0
1412809,6240,EZL,6881,IFDr,Ilford,Station entry / exit,2021,SUN,IN,4999.800000,199.560000,746.640000,2586.840000,938.880000,427.080000,100.800000,04:45:00,8.0
1412810,6241,EZL,3170,IVRr,Iver,Station entry / exit,2021,SUN,IN,180.800000,5.600000,25.400000,93.600000,26.200000,16.800000,13.200000,04:45:00,0.0
1412811,6242,EZL,3171,LNYr,Langley,Station entry / exit,2021,SUN,IN,649.600000,5.600000,75.400000,273.800000,157.400000,98.800000,38.600000,04:45:00,0.0
1412812,6243,EZL,6883,MNPr,Manor Park,Station entry / exit,2021,SUN,IN,2099.040000,87.120000,384.600000,1079.520000,365.760000,154.680000,27.360000,04:45:00,1.0
1412813,6244,EZL,6970,MYLr,Maryland,Station entry / exit,2021,SUN,IN,1497.096000,47.412000,252.612000,742.500000,273.564000,140.184000,40.824000,04:45:00,0.0
1412814,6245,EZL,3187,STLr,Southall,Station entry / exit,2021,SUN,IN,2808.360000,92.880000,421.200000,1407.420000,559.260000,282.060000,45.540000,04:45:00,3.0
1412815,6246,EZL,3151,TAPr,Taplow,Station entry / exit,2021,SUN,IN,318.800000,0.000000,35.800000,195.200000,51.200000,20.000000,16.600000,04:45:00,0.0
1412816,6247,EZL,3174,WDTr,West Drayton,Station entry / exit,2021,SUN,IN,1519.020000,2.835000,274.320000,863.460000,231.525000,118.395000,28.485000,04:45:00,5.0
1412817,6248,EZL,3000,AMLr,Acton Main Line,Station entry / exit,2021,SUN,OUT,311.341309,0.000000,2.337007,111.137681,104.386327,86.988606,6.491687,04:45:00,0.0
1412818,6249,EZL,6872,BREr,Brentwood,Station entry / exit,2021,SUN,OUT,1103.760000,0.735000,98.910000,368.550000,309.015000,235.830000,90.720000,04:45:00,0.0
1412819,6250,EZL,3176,BNMr,Burnham,Station entry / exit,2021,SUN,OUT,933.000000,1.600000,56.800000,328.200000,261.400000,217.800000,67.200000,04:45:00,0.0
1412820,6251,EZL,6874,CTHr,Chadwell Heath,Station entry / exit,2021,SUN,OUT,2431.895455,11.454545,156.163636,740.918182,757.622727,537.981818,227.754545,04:45:00,0.0
1412821,6252,EZL,6876,FOGr,Forest Gate,Station entry / exit,2021,SUN,OUT,2973.016667,11.433333,178.150000,1032.266667,852.250000,591.616667,307.300000,04:45:00,0.0
1412822,6253,EZL,6877,GDPr,Gidea Park,Station entry / exit,2021,SUN,OUT,1348.725000,0.787500,65.887500,397.031250,447.693750,319.331250,117.993750,04:45:00,0.0
1412823,6254,EZL,6878,GMYr,Goodmayes,Station entry / exit,2021,SUN,OUT,2134.650000,10.395000,161.490000,640.920000,661.815000,468.300000,191.730000,04:45:00,0.0
1412824,6255,EZL,3191,HANr,Hanwell,Station entry / exit,2021,SUN,OUT,553.280802,6.300432,22.115802,183.484012,143.752716,128.837407,68.790432,04:45:00,0.0
1412825,6256,EZL,6879,HROr,Harold Wood,Station entry / exit,2021,SUN,OUT,1304.916667,1.400000,95.783333,423.033333,366.333333,303.216667,115.150000,04:45:00,0.0
1412826,6257,EZL,6881,IFDr,Ilford,Station entry / exit,2021,SUN,OUT,4982.133333,23.800000,358.516667,1755.483333,1399.066667,1011.966667,433.300000,04:45:00,0.0
1412827,6258,EZL,3170,IVRr,Iver,Station entry / exit,2021,SUN,OUT,176.400000,4.200000,21.400000,69.800000,34.200000,27.600000,19.200000,04:45:00,0.0
1412828,6259,EZL,3171,LNYr,Langley,Station entry / exit,2021,SUN,OUT,551.400000,4.000000,69.200000,227.000000,131.800000,83.600000,35.800000,04:45:00,0.0
1412829,6260,EZL,6883,MNPr,Manor Park,Station entry / exit,2021,SUN,OUT,2055.433333,6.883333,139.416667,676.666667,595.700000,420.583333,216.183333,04:45:00,0.0
1412830,6261,EZL,6970,MYLr,Maryland,Station entry / exit,2021,SUN,OUT,1449.525000,10.605000,84.630000,459.795000,390.810000,327.810000,175.875000,04:45:00,0.0
1412831,6262,EZL,3187,STLr,Southall,Station entry / exit,2021,SUN,OUT,2550.450000,19.425000,158.900000,870.625000,723.800000,554.925000,222.775000,04:45:00,3.0
1412832,6263,EZL,3151,TAPr,Taplow,Station entry / exit,2021,SUN,OUT,348.600000,0.000000,58.200000,138.400000,68.800000,42.800000,40.400000,04:45:00,0.0
1412833,6264,EZL,3174,WDTr,West Drayton,Station entry / exit,2021,SUN,OUT,1389.675000,1.706250,61.293750,336.918750,432.600000,427.743750,129.412500,04:45:00,0.0

### Converting the melted data to csv file for easy access

In [303]:
# melt.to_csv('melted_data_forecast1.csv', index=False)

In [304]:
melt_bi.to_csv('melted_data_forecast_bi.csv', index=False)

In [229]:
forecast_df = melt

In [230]:
forecast_df.head()

,id,Mode,NLC,ASC,Station,Coverage,year,day,dir,Total,Early,AMPeak,InterPeak,PMPeak,Evening,Late,15mins_interval,Count
0,1,LU,500,ACTu,Acton Town,Station entry / exit,2020,MTT,IN,3701.900000,288.200000,1101.200000,1185.700000,824.200000,213.200000,89.400000,05:00:00,8.600000
1,2,LU,502,ALDu,Aldgate,Station entry / exit,2020,MTT,IN,2489.416667,172.583333,520.166667,622.000000,920.000000,208.416667,46.250000,05:00:00,2.416667
2,3,LU,503,ALEu,Aldgate East,Station entry / exit,2020,MTT,IN,3198.307692,103.000000,472.692308,1063.923077,1126.461538,333.230769,99.000000,05:00:00,0.538462
3,4,LU,505,ALPu,Alperton,Station entry / exit,2020,MTT,IN,2072.538462,360.230769,667.846154,505.692308,408.538462,99.384615,30.846154,05:00:00,6.538462
4,5,LU,506,AMEu,Amersham,Station entry / exit,2020,MTT,IN,980.466667,148.400000,424.666667,256.600000,124.133333,21.066667,5.600000,05:00:00,2.533333

In [231]:
forecast_df['15mins_interval'].unique()

array([datetime.time(5, 0), datetime.time(5, 15), datetime.time(5, 30),
       datetime.time(5, 45), datetime.time(6, 0), datetime.time(6, 15),
       datetime.time(6, 30), datetime.time(6, 45), datetime.time(7, 0),
       datetime.time(7, 15), datetime.time(7, 30), datetime.time(7, 45),
       datetime.time(8, 0), datetime.time(8, 15), datetime.time(8, 30),
       datetime.time(8, 45), datetime.time(9, 0), datetime.time(9, 15),
       datetime.time(9, 30), datetime.time(9, 45), datetime.time(10, 0),
       datetime.time(10, 15), datetime.time(10, 30),
       datetime.time(10, 45), datetime.time(11, 0), datetime.time(11, 15),
       datetime.time(11, 30), datetime.time(11, 45), datetime.time(12, 0),
       datetime.time(12, 15), datetime.time(12, 30),
       datetime.time(12, 45), datetime.time(13, 0), datetime.time(13, 15),
       datetime.time(13, 30), datetime.time(13, 45), datetime.time(14, 0),
       datetime.time(14, 15), datetime.time(14, 30),
       datetime.time(14, 45), datetime.time(15, 0), datetime.time(15, 15),
       datetime.time(15, 30), datetime.time(15, 45), datetime.time(16, 0),
       datetime.time(16, 15), datetime.time(16, 30),
       datetime.time(16, 45), datetime.time(17, 0), datetime.time(17, 15),
       datetime.time(17, 30), datetime.time(17, 45), datetime.time(18, 0),
       datetime.time(18, 15), datetime.time(18, 30),
       datetime.time(18, 45), datetime.time(19, 0), datetime.time(19, 15),
       datetime.time(19, 30), datetime.time(19, 45), datetime.time(20, 0),
       datetime.time(20, 15), datetime.time(20, 30),
       datetime.time(20, 45), datetime.time(21, 0), datetime.time(21, 15),
       datetime.time(21, 30), datetime.time(21, 45), datetime.time(22, 0),
       datetime.time(22, 15), datetime.time(22, 30),
       datetime.time(22, 45), datetime.time(23, 0), datetime.time(23, 15),
       datetime.time(23, 30), datetime.time(23, 45), datetime.time(0, 0),
       datetime.time(0, 15), datetime.time(0, 30), datetime.time(0, 45),
       datetime.time(1, 0), datetime.time(1, 15), datetime.time(1, 30),
       datetime.time(1, 45), datetime.time(2, 0), datetime.time(2, 15),
       datetime.time(2, 30), datetime.time(2, 45), datetime.time(3, 0),
       datetime.time(3, 15), datetime.time(3, 30), datetime.time(3, 45),
       datetime.time(4, 0), datetime.time(4, 15), datetime.time(4, 30),
       datetime.time(4, 45)], dtype=object)

In [232]:
forecast_df['year'].unique()

array([2020, 2021, 2017, 2018, 2019], dtype=int64)